:root{
    --primaryColor: hsl(60, 100%, 75%);
    --secondaryColor:hsl(60, 56%, 81%);
    --nav-bar-color: hsl(0, 0%, 13%);
    --cart-button-color: hsl(120, 70%, 60%);
    --titlesLetters: "Rozha One", serif;
}
