@import url(../css/colors-and-fonts.css);

body{

    background-color: var(--primaryColor);
}
h1{
    font-family: var(--titlesLetters);
}
img{
    width: 400px;
    height: 400px;
}
footer{
    color: var(--primaryColor);
}