:root{
    --primaryColor: hsl(60, 100%, 75%);
    --secondaryColor:hsl(60, 56%, 81%);
    --titlesLetters: "Rozha One", serif;
}

body{
    background-color: var(--primaryColor);
}
h1,h2{
    font-family: var(--titlesLetters);
}
form{
    display: flex;
    flex-direction: column;
}
input{
    width: 200px;
    height: auto;
}
button{
    width: 100px;
    height: auto;
    margin-top: 1em;
}
