@import url(../css/colors-and-fonts.css);

body{

    background-color: var(--primaryColor);
}
form{
    display: flex;
    flex-direction: column;
}
input,select{
    width:200px ;
}
button{
    width: 100px;
}
.barra-navegacion,ul,li{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    
     
}
ul,li{
    padding: 12px;
    font-size: 25px;
}
#valido,#error{
    color: red;
    list-style: none;
}